* {
    margin: 0%;
    padding: 0%;
    background-color: rgb(91, 176, 216);
}


h1 {
    margin: 0%;
    padding: 10%;  
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 90px;
}


h2 {
    margin: 0%;
    padding: 10%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}
form {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: auto;


}
h3 {
    font-size: 60px;
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
}
.resultadoFinal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    


}
span {
    font-size: 40px;
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    border-radius: 2rem;
    border-color: red;
    border-style: outset;
}
