* {
    margin: 0%;
    padding: 0%;
    background-color: rgb(91, 176, 216);
}

h1 {
    margin: 0%;
    padding: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 90px;
}

h2 {
    margin: 0%;
    padding: 10%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.opciones {

    font-size: 15px;
    margin: 10%;
    padding: 20px;
    color: hsl(120, 8%, 5%);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
    gap: 15px;
    border-color: red;
    border-style: outset;
}

form {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: auto;
}

h3 {
    font-size: 60px;
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
}

.resultadoFinal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

span {
    font-size: 40px;
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    border-radius: 2rem;
    border-color: red;
    border-style: outset;
}

.textoClima {
    margin: 20px;
    font-size: 35px;
}

.textoClima span {
    font-size: 25px;
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    border-radius: 2rem;
    border-color: red;
    border-style: outset;
}